---
layout: page
title: Home
---
{% include JB/setup %}
<head>
	<link rel="stylesheet" href="../assets/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="../assets/css/blueimp-gallery-indicator.css">
</head>
<body>
<h2>About Me</h3>

<h3>Areas of Interest</h3>
<p>Medieval studies, musicology, library technology and scholarly communications</p>
<h3>Current Position</h3>
<p>Curator of Paleography and Digital Medieval Materials, Stanford University Libraries</p>
<h3>Portfolio</h3>
<p>I oversees a number of digital manuscript projects, including <a href="http://parker.stanford.edu">Parker Library on the Web</a>, <a href="https://exhibits.stanford.edu/mss">Stanford University's digitized medieval manuscripts</a>, and a number of projects devoted to interoperability and improving access to manuscript images for pedagogical and research purposes.</p>
<h3>Research</h3>
<p>My research interests include the intersection of words and music in the fourteenth century, primarily in the monophonic works of Guillaume de Machaut; the uses of digital medieval resources in scholarly communication; and transmission models in the later Middle Ages.</p>

    

<h2>Recent Manuscript Images of Interest</h2>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <!-- <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a> -->
    <!-- <a class="play-pause"></a>
    <ol class="indicator"></ol> -->
</div>
<div id="links">
    
	<a href="http://adore.ugent.be/IIIF/images/archive.ugent.be%3AFAF411B6-F706-11DF-A337-58289BE017E0%3ADS.8/full/full/0/native.jpg" title="Ghent University Library, MS 330">
        <img src="http://adore.ugent.be/IIIF/images/archive.ugent.be%3AFAF411B6-F706-11DF-A337-58289BE017E0%3ADS.8/2227,64,1730,2857/,150/0/native.jpg" alt="">
    </a>
	<a href="http://gallica.bnf.fr/iiif/ark:/12148/btv1b84901583/f15/84,135,4015,5589/full/0/native.jpg" title="Bibliothèque nationale de France, Département des Manuscrits, NAF 3431">
        <img src="http://gallica.bnf.fr/iiif/ark:/12148/btv1b84901583/f15/84,135,4015,5589/,150/0/native.jpg" alt="">
    </a>
	<a href="https://stacks.stanford.edu/image/iiif/gc030ss7797%2Fgc030ss7797_05_0001/full/full/0/default.jpg" title="Stanford University Libraries, M1777">
        <img src="https://stacks.stanford.edu/image/iiif/gc030ss7797%2Fgc030ss7797_05_0001/142,2285,1405,1852/,150/0/default.jpg" alt="">
    </a>
    <a href="https://stacks.stanford.edu/image/iiif/gp178js1323%2Fgp178js1323_00_0032/668,211,2555,4129/full/0/default.jpg" title="Stanford University Libraries, MSS CODEX M0379 CB, fol. 11v">
        <img src="https://stacks.stanford.edu/image/iiif/gp178js1323%2Fgp178js1323_00_0032/668,211,2555,4129/,150/0/default.jpg" alt="">
    </a>
    <a href="https://dlcs.io/iiif-img/2/1/af75447e-b385-4130-9919-47a7a54d2cbc/full/!1024,1024/0/default.jpg" title="Wellcome Library, MS287, fol. 1r">
        <img src="https://dlcs.io/iiif-img/2/1/af75447e-b385-4130-9919-47a7a54d2cbc/561,779,823,801/,150/0/default.jpg" alt="">
    </a>
	
</div>
<p>(powered by <a href="http://iiif.io">IIIF</a>)</p>
<!-- <h2>Recent Posts</h3>

<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul> -->
<script src="../assets/js/blueimp-gallery.min.js"></script>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
</body>

